body {
    padding: 0;
    margin: 0;
    background-color:lightgoldenrodyellow;
    font-family:' Calibri', sans-serif
}
section{
    margin: .5em;
}
h1{
    background-color: goldenrod;
    width:auto;
    padding-left: .5em;
}
h2 {
font-style: italic;
color: cornflowerblue;
}
h4{
    color: cornflowerblue;
}
div {
    display: inline-block;
    line-height: 2;
}
ul{
    list-style-type: none;
}
.subtitulo {
    color:cadetblue;
  font-style: italic;
}
.primerParrafo {
margin: 1em;

}